{% extends "base.html" %}
{% block customtitle %} Error sida 500 {% endblock %}

<!-- Felsida för HTTP 500: servern stötte på ett internt fel. -->
{% block title %} You shouldn't be here {% endblock %}

{% block content %}
    <div class="content">
        <h1>500 - Internal Server Error</h1>
        <img class="error-image" src="static/images/500_error.jpg" alt="500 Error">
        <p>An internal error occurred while processing your request.</p>
        <p class="note">If you take a look in the developer tools you should see that the HTTP status code is <em>500</em> for this request.</p>
    </div>
{% endblock %}