<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Forum för diskussioner">
        <meta name="theme-color" content="cornflowerblue">
        <title>{% block customtitle %} Hemsida {% endblock %}</title>
        
        <!-- Socket.IO -->
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/static/pictures/favicon.ico">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>{% block title %}Jeffs Och Elias Hemsida{% endblock %}</h1>
            <div class="login">
                {% if current_user %}
                    <p style="color: rgb(6, 10, 5); font-weight: bold;">Inloggad som: {{ current_user }}</p>
                {% else %}
                    <p style="color: rgb(206, 20, 20);">Inte inloggad</p>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <strong>
                    <li><a href="/">Hem</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrera</a></li>
                    <li><a href="/logout">Logout</a></li>
                    </strong>
                </ul>
            </nav>
        </header>
        
        <main>
            {% block content %}
            <!-- Innehåll Här -->
            {% endblock %}
        </main>
        
        <footer>
            <p>&copy; 2026 Jeffs Och Elias Forum. Alla rättigheter förbehållna.</p>
        </footer>

        <script>
        // only establish Socket.IO connection on pages where it's needed
        if (!['/login','/register'].includes(window.location.pathname)) {
            const socket = io();

            socket.on("connect", () => {
                console.log("Connected to server");
            });

            socket.on("user_connected", () => {
                console.log("A user has connected");
            });

            socket.on('error', (err) => {
                console.warn('Socket error', err);
            });
        }


    </script>

    <script src="static/js/main.js"></script>
    </body>
</html>