{% extends "base.html" %}
{% block customtitle %} Forum Page {% endblock %}

{% block content %}
    <h1>Forum</h1>
    <p>This is the forum page.</p>
    
    <a href="{{ url_for('new_topic') }}" class="new-thread-btn">
        <button type="button">New topic</button>
    </a>
<div class="forum-list">
    <p>Realtidschatt</p>
    <h3><a href="{{ url_for('reatidschatt') }}">chatt</a></h3>

    <br><hr><br>

    {% for topic in topics %}

    
        <div class="thread-card">
            <h3><a href="{{ url_for('open_thread', topic_id=topic.id) }}">{{ topic.rubrik }}</a></h3>

            <p class="thread-meta">
                Skapad av <strong>{{ topic.username }}</strong>
            </p>
        </div>
    {% else %}
        <p>Inga trådar ännu.</p>
    {% endfor %}
</div>


{% endblock %}
