{% extends "base.html" %}
{% block customtitle %} Forum Page {% endblock %}

{% block content %}
    <h1>Forum</h1>
    <p>This is the forum page.</p>
    
    <a href="{{ url_for('new_topic') }}" class="new-thread-btn">
        <button type="button">New topic</button>
    </a>
<div class="forum-list">
    <br><p><strong> Realtidschatt</strong></p>
    <h3><a href="{{ url_for('realtidschatt') }}">Chatt</a></h3>

    <br><hr><br>

    {% for topic in topics %}
        <div class="thread-card">
            <br><h3><a href="{{ url_for('open_topic', topic_id=topic.id) }}">{{ topic.rubrik }}</a></h3><br>


            <p class="thread-meta">
                <p>Innehåll: {{ topic.innehall }}</p>
                <strong>Skapad av: </strong> {{ topic.username }}
            </p>
        </div>
    {% else %}
        <p>Inga trådar ännu.</p>
    {% endfor %}
</div>


{% endblock %}
