{% extends "base.html" %}
{% block customtitle %} Forum {% endblock %}

{% block content %}
    <h1>Forum sidan</h1>
    <p> Det här är forum-sidan. </p><br>
    
    <a href="{{ url_for('new_topic') }}" class="new-thread-btn"> <button type="button"> Nytt ämne </button> </a>

    <div class="forum-list">
        <br><h3><a href="{{ url_for('realtidschatt') }}"> <p><strong> Realtidschatt </strong></p> </a></h3>

        <br><hr><br>

        <h3><p><strong> Sökfält </strong></p></h3>
        <form action="{{ url_for('search') }}" method="GET">
            <input type="text" name="searchInfo" placeholder="Sök efter trådar...">
            <button type="submit"> Sök </button>
        </form>

        {% for topic in topics %}
            <div class="thread-card">
                <br><h3><a href="{{ url_for('open_topic', topic_id=topic.id) }}">{{ topic.rubrik }}</a></h3><br>

                <p class="thread-meta">
                    <p> Innehåll: {{ topic.innehall }}</p>
                    <strong> Skapad av: </strong> {{ topic.username }}
                </p>
            </div>
        {% else %}
            <p> Inga trådar ännu. </p>
        {% endfor %}
    </div>
{% endblock %}
