{% extends "base.html" %}
{% block customtitle %}Home Page{% endblock %}

{% block content %}
    <h2>Välkommen till Elias Och Jeff Hemsida!</h2>
    <p>Detta är startsidan för vårt forum där du kan delta i diskussioner och interagera med andra användare.</p>
{% endblock %}


<!-- Göra:
- Lägg till forum-sida med inlägg och kommentarer
- Lägg till profil-sida för användare
- Implementera realtidschatt med Flask-SocketIO
- Förbättra designen med mer CSS
- Lägg till användarroller (admin, moderator, användare)
- Fixa sql injektion sårbarheter
- Lägg till databas

-->