{% extends "base.html" %}
{% block customtitle %}Login Page{% endblock %}

{% block content %}

    <form method="post">
        <label for="username">Användarnamn:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Lösenord:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Logga in">
    
    </form>

    <input type="Number" id="numInput1" placeHolder="First number here" autocomplete="off"/>
        <input type="text" id="operatorInput" placeHolder="Operator here" autocomplete="off"/>
        <input type="Number" id="numInput2" placeHolder="Second number here" autocomplete="off"/>
        <button type="text" id="sumButton">Sum</button>

    <br>
    <div id="result"></div>

{% endblock %}
