{% extends "base.html" %}
{% block customtitle %} Profile {% endblock %}

<!-- Profilsida med formulär för uppdatering av användarnamn och lösenord. -->
{% block content %}
    <div class="container mt-5">
        <h1>Profile Page</h1>
        {% if user %}
            <p>Welcome, {{ user.name }}!</p>
            <br><hr><br>
            <p style="color: rgb(6, 10, 5); font-weight: bold;"> Current Userdata; </p>
            <p>Name: {{ user.name }}</p>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        {% else %}
            <p>Not logged in. <a href="/login">Login here</a></p>
        {% endif %}
        <br><hr><br>
        <form method="post" action="{{ url_for('update_username') }}">
            <label for="username">Nytt användarnamn:</label>
            <input type="text" id="username" name="username" required><br><br>
            <input type="submit" value="Uppdatera Användarnamn" class="btn-update">
        </form>

        <form method="post" action="{{ url_for('update_password') }}">
            <label for="currentpassword">Gammalt lösenord:</label>
            <input type="password" id="currentpassword" name="currentpassword" required><br><br>

            <label for="password">Nytt lösenord:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Uppdatera Lösenord" class="btn-update">
        </form><br><hr><br>

        {% if user.role == 'admin' %}
            <a href="{{ url_for('admin') }}" class="btn-return"> Admin Panel </a>
        {% endif %}

    </div>
    <script src="static/js/main.js"></script>

{% endblock %}
